{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Panel sprzedawcy{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'panel/style.css' %}" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
</head>

<body>
    <nav class="nav navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar=header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'panel:index' %}">Kirsy</a>
                <a class="navbar-brand" href="{% url 'panel:Panel sprzedawcy' %}">Panel sprzedawcy</a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{% url 'panel:Program kasowy' %}" class="button">Program kasowy</a>
                    </li>
                    <li>
                        <a href="{% url 'panel:Magazyn' %}" class="button">Magazyn</a>
                    </li>
                    <li>
                        <a href="{% url 'panel:Sprzedaż' %}" class="button">Sprzedaż</a>
                    </li>
                    <li>
                        <a href="{% url 'panel:Karta stałego klienta' %}" class="button">Karta stałego klienta</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        {% if user.is_authenticated %}
                            <a href="{% url 'logout' %}">Wyloguj się</a>
                        {% else %}
                            <a href="{% url 'login' %}">Zaloguj się</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>



</body>
{% block content %}
{% endblock %}
</html>